.fb {
  background-color: #3B5998;
  color: white;
  height: 50px;      
  width: 400px;
  text-align: center
}


.google {
  background-color: #dd4b39;
  color: white;  
  height: 50px;
  width: 400px;
  text-align: center  
}